include AUTHORS
include CONTRIBUTING
include CHANGELOG
include LICENSE
include VERSION
include README.rst

recursive-include src *.py
recursive-include tests *.py *.html
recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif

include requirements.txt
include requirements-base.txt
include pytest.ini
include tox.ini
global-exclude *.orig *.py[co] *.log *.swp
