include AUTHORS
include CONTRIBUTING
include CHANGELOG
include LICENSE
include VERSION
include README.rst
include requirements.txt
include requirements-base.txt
include pytest.ini
include tox.ini

recursive-include src *.py
recursive-include tests *.py
recursive-include tests/test_project/templates *.html
recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif

global-exclude *.orig *.py[co] *.log *.swp htmlcov/*
