include AUTHORS
include CHANGELOG
include LICENSE
include VERSION
include README.rst
include MANIFEST.in
recursive-include src *.py
recursive-include docs *.rst
recursive-include tests *.py *.html
include requirements.txt
include requirements-base.txt
include pytest.ini
include conftest.py
include tox.ini
global-exclude *.orig *.py[co] *.log *.swp
