compat-patcher-core>=2.1
six==1.15.0

## DEPENDENCIES FOR TESTING AND BUILDING ##

pytest>=4.6.11,<7
pytest-django>=3.10,<4
pytest-cov>=2

git+https://github.com/arteria/django-compat@597bd81a635dec7fdfcccf09b5c95df63615dbf2

tox>=3.10
check-manifest>=0.40

# Necessary to test postgres utils, disable this to ensure all is OK with default DCP_EXCLUDE_FIXER_IDS
psycopg2>=2.8
